{% extends './base.twig' %}

{% block content %}
    <div class="pull-center">{{ asset_img('logo.jpg') }}</div>
    <div>
        <h1>Gesta 3</h1>
        <h5>Gesta est une application simple et puissante permettant la gestion des participants dans les EFT/OISP</h5>
        <h5>Elle permet notament de : </h5>
        <ul>
            <li>Gérer le stagiaire de l'inscription à la sortie.</li>
            <li>Introduire les heures de prestations.</li>
            <li>De gérer les prestations par multi-contrat.</li>
            <li>De permettre aux formateurs d'avoir une vision globale sur les présences/absences</li>
            <li>D'imprimer les documents nécessaires (C98, fiche de Salire,L1,L2,Trimestrielle....)</li>
            <li>De faire des statistiques (en fonction des demandes)</li>
            <li>De gérer l'administratif de l'application</li>
            <li>De permettre la gestion des différents lieux de stages</li>
            <li>etc ...</li>
        </ul>
    </div>
    <div>
        <h2>La démo ne comprend pas l'ensembles des modules</h2>
        <p>Pour un petit test :</p>
        <ul>
            <li>Login : demo</li>
            <li>Mot de passe : demo</li>
        </ul>
        <p>Le participant 'PELTIER David' permet de faire des tests.</p>
    </div>
    <div>Contact <a href="mailto:info@formatux.be">Mail</a> - <a href="http://www.formatux.be">Formatux.be</a></div>
{% endblock content %}