{% extends './base.twig' %}

{% block content %}

<h2>Administration {% if subtitle is not null %}<small>{{ subtitle }}</small>{% endif %}</h2>

{% set errors = session_get_flash('error') %}
{% if errors %}
    <div class="alert-error">
        {{ errors }}
    </div>
{% endif %}

{% set success = session_get_flash('success') %}
{% if success %}
    <div class="alert-success">
        {{ success }}
    </div>
{% endif %}

{% block list %}
{% endblock list %}
{% block form %}
{% endblock form %}

{% if back is not null %}
<a class="btn pull-right" href="{{ back }}"><i class="icon-step-backward"></i> Retour</a>
<div class="clear"></div>
{% endif %}

{% endblock content %}